.sidebarR {
  height: 500px;
  width: 50px;
  background-color: rgb(192,197,206);
  z-index: 10;
  position: absolute;
  margin-left: auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.33) inset;
  gap: 5px;
}

.sidebarR button {
  width: 35px;
  height: auto;
  border-radius: 30px;
}
